// 全局样式

$primaryColor: #3737ba;
$titleColor: #292525;
$contentColor: #8e8787;

// a 标签样式
a {
  color: $contentColor;
  transition: 0.3s;

  &:hover {
    color: $primaryColor;
  }
}

// ul 标签样式
ul {
  list-style: none;
}

// 动画
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s;
}

.fade-enter,
fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}
