// 全局样式

$primaryColor: #3737ba;
$titleColor: #292525;
$contentColor: #8e8787;

// a 标签样式
a {
  color: $contentColor;
  transition: 0.3s;

  &:hover {
    color: $primaryColor;
  }
}

// img 标签样式
img {
  user-select: none;
}

// ul 标签样式
ul {
  list-style: none;
}

// 全局class
.mt10 {
  margin-top: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.ml10 {
  margin-left: 10px;
}

// 动画
.fade-enter-active,
.fade-leave-active {
  transition: 0.3s;
}

.fade-enter,
fade-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

/* 设置页 Form 重置样式 */
.setting-form-reset {
  .ivu-form-item-label {
    font-size: 16px !important;
    color: $contentColor;
  }

  .setting-input-reset {
    input {
      background-color: #f5f5f5;
      padding: 20px 15px 20px 14px;
      font-size: 14px;
      height: 60px;
      border: none;

      &:focus {
        background-color: #fff;
      }
    }
  }
}
